DATABASE_URL=postgresql://postgres.oxqojsmlbptmofmhyfea:s6I3rIIE4Dv5r9B5@aws-1-sa-east-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://oxqojsmlbptmofmhyfea.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im94cW9qc21sYnB0bW9mbWh5ZmVhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTMxOTQwNSwiZXhwIjoyMDk0ODk1NDA1fQ.S5Q2-5padhshkuwnyEyYu4EVYc3D6H7bTk9XE2L8SFI
Database_Password=s6I3rIIE4Dv5r9B5
STORAGE_QUOTA_MB=50
STORAGE_MB_POR_CATALOGO=0.45
IMAGE_MAX_SIDE=640
IMAGE_JPEG_QUALITY=72
IMAGE_TARGET_MAX_KB=85
MVP_MAX_IMAGENS_POR_CATALOGO=0
MVP_PULAR_CONCLUIDOS=true
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_N7YCm41qAIkm-Y09yw_xtQ_BsHLT7cu
NEXT_PUBLIC_SUPABASE_URL=https://oxqojsmlbptmofmhyfea.supabase.co